.user-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn-group {
    margin: 0;
    position: relative;
    text-align: center;
}

.password-btn {
    position: relative;
    justify-content: center;
}

h2 {
    text-align: center;
}