.btn-group {
    margin: 0;
    position: relative;
    left: 15%;
}

.user-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}