.search-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inputs-container {
  display: inline-block;
  max-width: 100%;
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #0A0;
  background-color: lightgrey;
}

.table-container {
  display: inline-block;
  max-width: 100%;
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #0A0;
  background-color: lightgrey;
}

.search-btn {
  margin: 0;
  position: relative;
  text-align: center;
}

.result-table {
  border: 1px solid;
  border-color: #0A0;
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 3px solid;
  border-color: #0A0;
  border-radius: 5px;
}

td {
  border: 2px solid;
  border-color: #0A0;
}

h3 {
  margin: 0;
  position: relative;
  text-align: center;
}