.inputs-container {
  display: inline-block;
  max-width: 100%;
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #0A0;
  background-color: #AF5;
}

.table-container {
  display: inline-block;
  max-width: 100%;
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #0A0;
  background-color: #AF5;
}

.search-btn {
    margin: 0;
    position: relative;
    left: 30%;
  }

.result-table {
  border: 1px solid;
  border-color: #0A0;
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 3px solid;
  border-color: #0A0;
  border-radius: 5px;
}

td {
  border: 2px solid;
  border-color: #0A0;
}