.bike-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h3 {
  text-align: center;
}

.bike-page-controls {
  margin: 0;
  position: relative;
  text-align: center;
}